/* Colors --------------------------------------------------------------------*/

/* - Primary*/
$color-black: #000000;
$color-orange: #ff8100;
$color-dark-blue: #002d62;
$color-blue: #98bfd7;
$color-graphite: #2e2e2e;
$color-gray: #ededed;
$color-white: #ffffff;

$color-text-menu:$color-white;


/* Fonts ---------------------------------------------------------------------*/

$font-tahoma : 'Tahoma';
$font-open-sans : 'Open Sans';
$font-default: sans-serif;

/* Config --------------------------------------------------------------------*/

$max-width-page:1480px;
$max-width-content:1280px;
$min-width:974px;

$i:!important;

